<header id="mainHeader">
    <!-- Main Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"> <img src="/Assets/images/vslogo.png" height="65" alt="mdb logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if(title == 'Home') { %>
                <li id="Home" class="nav-item active">
                <% } else { %>
                <li id="Home" class="nav-item">
                <% } %>
                <a class="nav-link" href="/home">Home</a></li>

                <% if(title == 'About') { %>
                <li id="about" class="nav-item active">
                <% } else { %>
                <li id="about" class="nav-item">
                <% } %>
                <a class="nav-link" href="/about">About</a></li>

                <% if(title == 'Contact') { %>
                <li id="contact" class="nav-item active">
                <% } else { %>
                <li id="contact" class="nav-item">
                <% } %>
                <a class="nav-link" href="/contact">Contact</a></li>

                <% if(title == 'Products') { %>
                <li id="products" class="nav-item active">
                <% } else { %>
                <li id="products" class="nav-item">
                <% } %>
                <a class="nav-link" href="/products">Products</a></li>

                <% if(title == 'Services') { %>
                <li id="services" class="nav-item active">
                <% } else { %>
                <li id="services" class="nav-item">
                <% } %>
                <a class="nav-link" href="/services">Services</a></li>

                <% if(title == 'Login') { %>
                <li id="login" class="nav-item active">
                <% } else { %>
                <li id="login" class="nav-item">
                <% } %>
                <a class="nav-link" href="/login">Login</a></li>




                 <!--
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
               
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                -->
            </ul>
        </div>
    </nav>
</header>