<footer class="footer" id="mainFooter">
     <nav class="navbar fixed-bottom navbar-light bg-light">
        <h6 class="i">&copy; 2020 - VS</h6>

        <!-- Social Media Icons -->
        <div>
            <span style="padding-right: 20px;"><i class="fab fa-youtube"></i></span></span>
            <span style="padding-right: 20px;"><i class="fab fa-facebook"></i></span>
            <span style="padding-right: 20px;"><i class="fab fa-instagram"></i></span>
            <span style="padding-right: 20px;"><i class="fab fa-twitter"></i></span>
        </div>
    </nav>


</footer>