<div class="container">
    <div class="row">
        <div class="col-sm-6 bg-info">
            <img src="/Assets/images/questions/coffee.png"  alt="coffee"/>
        </div>
        <!-- 
            Progress bar for the 10 questions
            Each question should have a situation, user then makes a choice based on the sitiaution-->
        <div class="col-sm-6 bg-primary">
            <img src="/Assets/images/questions/pint.png"  alt="pint"/>
        </div>

    </div>
</div>